name: Build Image

on:
  merge_group:
  pull_request_target:
    types: [opened, edited, synchronize, reopened, ready_for_review]
    branches:
      - "main"
  push:
    branches:
      - "main"

jobs:
  build-image:
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: directory-size-exporter
      dockerfile: ./Dockerfile
      context: .

  list-images:
    needs: build-image
    runs-on: ubuntu-latest
    steps:
      - name: List images
        run: |
          echo "${{ needs.build-image.outputs.images }}"
